body {
  background:  #56887d;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-item {
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  margin: 1.5em;
  border-radius: 50%;
  flex: 1;
}

.link-icon {
  transition: transform 3s;
}

.link-icon:hover {
  transform: rotateY(1080deg);
}

.link-icon {
  text-decoration: none;
  color: #2C3539;
}

.link-text {
  color: #2f4f4f;
}

.about-content {
  font-size: 1em;
  border: 1px solid black;
  padding: .2em;
  text-align: justify;
  text-justify: inter-word;
}

#about-content-exit {
  width: 1em;
  height: 1em;
  margin-left: auto;
}

.panel {
---webkit-tap-highlight-color: transparent;
--font: normal 75% Arial, Helvetica, sans-serif;
--border: 0;
--outline: 0;
--vertical-align: baseline;
font-size: 1.3em;
position: absolute;
width: 20em;
--height: 100%;
--background: #eee;
--top: 0px;
left: 50%;
margin-left: -10em;
--margin: -110px 0 0 -100px;
--padding: 20px;
--border-radius: 4px;
--box-sizing: border-box;
z-index: 100;
--display: block;
}

#particles-js {
position: absolute;
width: 100%;
height: 100%;
background-image: url("");
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
}