body {
  background:  #002b36;
  margin: 0;
}

html {
  background-image: linear-gradient(#002b36, #073642, #586e75, #657b83, #839496, #93a1a1);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-item {
  --border: 1px solid green;
  margin: 2em;
  align-items: center;
  justify-content: center;
}

.link-icon {
  transition: transform 3s;
}

.link-icon:hover {
  transform: rotateY(1080deg);
}

.link-icon {
  text-decoration: none;
  color: #fdf6e3;
}

.link-text {
  color: #268bd2;
}

.about-content {
  font-size: 1em;
  --border: 1px solid purple;
  padding: .1em;
  text-align: justify;
  text-justify: inter-word;
  width: 75vw;
  color: #eee8d5;
}

#about-content-exit {
  width: 1em;
  height: 1em;
  margin-left: auto;
}

.panel {
  --border: 1px red solid;
  font-size: 100%;
  position: absolute;
  width: 2%;
  height: 100%;
  left: 50%; 
  margin-left: -1%;
  z-index: 100;
}

#particles-js {
  --border: 1px yellow solid;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
